<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!--
Version: 1.0.0
Date: 2007-01-08
-->
<beans>
<bean id="ProcLockedCard" class="tw.com.hyweb.svc.yhdp.batch.ProcLockedCard.ProcLockedCard">
    <!--<property name="commitCount"><value>1000</value></property>-->
    <property name="sleepTime"><value>500</value></property>
</bean>
</beans>
